


.section_img{
    float: left;
    width: 70%;
}

.section_img img{
    width: 285px;
    display: block;
}


.section_description{
    right: 0%;
    position: absolute;
    text-align: left;
    width: 62%;
    top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.section_description h1{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #9cc4ec;
    margin: 0%;
    
}
.section_description p{
    font-size: 20px;
    color: #080808;
    
}
.titulo strong{
    font-size: 15px;
    color: #080808;
}
.contenido-titulo strong{
    font-size: 11px;
    color: #080808;
    
}
.parrafo strong {
    font-weight: normal;
    font-size: 12px;
    color: #080808;
}
.margin0{
    margin: 0%;
}
main{
 position: relative;
 
}
.papi{
     position: relative;
     width: 70%;
     margin: auto;
     
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MENU NAVEGACION */

#header{
    position: relative;
    width: 100%;

}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    
    background:transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

/* LOGO MENU */

.lista-menu {
    margin-right: 30px;
}
.lista-menu  ul{
    display: flex;
}
.lista-menu  ul li{
    list-style: none;
}
.lista-menu  ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color:white;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 16px;
}

.lista-menu ul li a:hover{
    background: #04eeff3d;
    color:rgb(255, 255, 255);
}
.lista-menu  ul li a.active{
    border-radius: 0;
    border-bottom: 2px solid white;
    background: transparent;
    cursor: default ;
}


.texto-header img{
    width: 150px;
    margin-bottom: 20px;
}


/** IMAGEN HEADER **/

.img-header{
    position: relative;
    width: 100%;
    height: 105vh;
    background:url(../img/ahora.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* TEXTO HEADER */

.texto-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texto-header h1{
    font-size: 50px;
    color:#fff;
}
.texto-header hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.texto-header p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}


/** SKEW ARRIBA **/

.skew-arriba1{
    position: absolute;
	bottom: 0;
	right: 0;
	border-width: 0 0 5vh 50vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
.skew-arriba2{
    position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 50vw 5vh 0;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}

/** SKEW ABAJO **/

.skew-abajo1{
    position: absolute;
	top: 0;
	right: 0;
	border-width: 5vh 50vw 0 0;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	z-index: 10;
}
.skew-abajo2{
    position: absolute;
   
	top: 0;
	left: 0;
	border-width: 5vh 0 0 50vw;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	z-index: 10;
}



/* FLECHA ANIMADA */

.elemento{
  position: absolute;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 120px;

 }

 .animatedColor {
    color:#00adb9;
  }
   
  .flecha {
    animation: arrow 2s ease-in-out infinite;
    font-size: 30px;
    cursor: pointer;
  }

  @keyframes arrow {
    0% {
      transform: translate(0px, 50px);
    }
   
     50% {
      transform: translate(0px, 70px);
    }
    
    100% {
      transform: translate(0px, 50px);
    }
  }
